.login__form {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	max-width: 40rem;
	margin: 2rem auto;
	padding: 2rem; 

	border: 1px solid black;
	border-radius: 16px;
	background-color: white;
}

.login__label {
  display: grid;
	grid-column: span 12;

	margin-bottom: 1rem;
}

.login__username{
	grid-column: span 12;
}

.login__button {
	grid-column: 11 / 13;

	margin-top: 2rem;

	border-radius: 0.5rem;
}

.app-title {
	margin: 2rem;
	font-size: 1.5rem;
	text-align: center;
}